/* Header  */
nav .container {
    max-width: 72rem;
}

.nav-main {
    padding-top: 1rem;
}

.active {
    font-weight: 600 !important;
    color: black !important;
}

.nav-start a,
.nav-main a {
    text-decoration: none !important;
}

.font-light {
    font-weight: 350;
}

.text-base {
    font-size: 1.1rem;
    line-height: 8px;
}

.nav-start-1 {
    font-weight: 600;
    font-size: 1.25rem;
}

.text-dark-primary {
    color: #0A66C2 !important;
}

.text-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.font-normal {
    font-weight: 400;
}

/* Main */

main .container {
    max-width: 72rem;
}

main .img-profile img {
    float: right;
}

#projects,
#about,
#experience,
#project {
    background: #53535316;
}

.transform-image {
    width: 70%;
    transition: transform 1.5s ease-in-out;
}

.transform-image:hover {
    transform: scale(1.4);
}

.fs-10 {
    font-size: 8vw;
    line-height: 1.2 !important;
}

.view-project {
    font-size: 2vw !important;
}

.bold-700 {
    font-weight: 700;
}

.text-title {
    margin: -30px 0 !important;
    font-size: 3vw !important;
}

.text-title-1 {
    margin: -30px 0 0 -20px !important;
    font-size: 2vw !important;
}

.mt-11 {
    margin-top: 20px !important;
}

.mt-12 {
    margin-top: 250px !important;
}


.text-justify {
    text-align: justify !important;
}


/* #about ul {
    font-size: 1.5vw;
    font-weight: 400;
    list-style: none !important;
    padding-left: 0 !important;
}

#about ul li::before {
    font-size: 2vw;
    content: '→';
    padding-right: 8px;
} */



#about ul {
    font-size: 1.5vw;
    list-style: none !important;
    padding-left: 0 !important;
}

#about ul li {
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

#about ul li::before {
    font-size: 2vw;
    content: '→';
    padding-right: 8px;
}

#about ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: grey;
    transition: width 0.3s ease;
}

#about ul li a:hover::after {
    width: 40%;
}

.exp-image {
    max-width: 100% !important;
    max-height: 20vw !important;
    min-height: 20vw !important;
}

#contact .container .card ul li a {
    font-size: 1.5vw !important;
}

#contact .container .card ul li a:hover {
    color: rgb(11, 11, 11);
}

#contact .container .card p {
    font-size: 1.8vw !important;
}













/* mobile view  */
@media (max-width: 768px) {

    /* Header  */
    nav .container {
        max-width: 768px !important;
        padding: 0px 20px !important;
    }

    nav .container .container-nav {
        padding: 10px 1px !important;
    }

    .second-p {
        font-size: 1rem !important;
    }

    .nav-main {
        padding-top: 1px !important;
    }

    .nav-main a {
        margin: 0 6px !important;
    }

    .nav-end i {
        font-size: 2rem !important;
    }

    /* Main  */
    main .container {
        max-width: 768px !important;
        padding: 5px 20px !important;
    }

    .view-project {
        font-size: 5vw !important;
    }

    main .card {
        padding-top: 0 !important;
    }

    .mt-10 {
        padding-top: 0px !important;
        margin-top: 10px !important;
    }

    main .img-profile img {
        margin-top: 0 !important;
        width: 100vw !important;
    }

    main .img-profile {
        margin-top: 0 !important;
    }

    .text-title {
        margin: -30px 0 !important;
        font-size: 4.5vw !important;
    }

    .text-title-1 {
        margin: -30px 0 0 -20px !important;
        font-size: 3vw !important;
    }

    .mt-12 {
        margin-top: 0 !important;
    }


}













/* tablet view  */
@media (max-width: 992px) {

    /* Main  */
    main .card {
        padding-top: 0 !important;
    }

    .mt-10 {
        padding-top: 0px !important;
        margin-top: 10px !important;
    }

    main .img-profile img {
        margin-top: 0 !important;
        width: 100vw !important;
    }

    .view-project {
        font-size: 5vw !important;
    }

    .transform-image {
        width: 110%;
        transition: transform 1.5s ease-in-out;
    }

    .transform-image:hover {
        transform: scale(1.4);
    }

    .text-title {
        margin: -30px 0 !important;
        font-size: 4.5vw !important;
    }

    .text-title-1 {
        margin: -30px 0 0 -20px !important;
        font-size: 3vw !important;
    }

    .mt-12 {
        margin-top: 0 !important;
    }



}